/* Reset & base */
* {
  box-sizing: border-box;
}

html {
  background-color: var(--palette-grey-200);
  background-image: linear-gradient(to bottom, var(--palette-grey-200), white);
  background-size: cover;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  color: var(--accent);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: underline;
}
