body {
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  background-color: color-mix(in srgb, var(--palette-grey-100) 50%, transparent 100%);
  padding: 0.25em .875em;
  color: var(--text);
  font-size: var(--font-size-xs);
  text-box-trim: both;
  text-box-edge: cap alphabetic;
  display: inline-block;
  letter-spacing: 0.0125em;
  opacity: .75;
}

.text-display {
  font-size: clamp(var(--font-size-lg), 2vw + 1rem, var(--font-size-2xl));
  font-weight: 300;
  line-height: 1.7;
}

.text-display-xl {
  font-size: clamp(var(--font-size-xl), 2vw + 1rem, var(--font-size-3xl));
  font-weight: 300;
  line-height: 1.7;
}

p + h2 {
  margin-top: var(--space-xl);
}

p {
  font-size: var(--font-size-xl);
  margin-bottom: 0.75em;
  text-wrap: pretty;
}

blockquote {
  font-size: var(--font-size-3xl);
  line-height: 1.3;
}

cite {
  display: block;
  font-size: var(--font-size-xl);
  font-style: normal;
  text-indent: 1em;
  padding-top: 0.375em;

  &::before {
    content: "—";
    position: relative;
    left: -8px;
  }
}

small {
  font-size: var(--font-size-sm);
}
