.text-display {
  font-size: clamp(var(--font-size-lg), 2vw + 1rem, var(--font-size-2xl));
}

h1 {
  font-weight: 500;
}

p {
  font-size: var(--font-size-xl);
  margin-bottom: 0.75em;
  text-wrap: balance;
}
